<table class="table-details">
    <tbody>
      <tr class"striped">
        <th scope="row" >Prénom</th>
        <td>{{ agent.firstname }}</td>
      </tr>
      <tr>
        <th scope="row">Nom</th>
        <td>{{ agent.lastname }}</td>
      </tr>
      <tr class"striped">
        <th scope="row" >Date de naissance</th>
        <td >{{ agent.dateOfBirth |date('d-m-Y') }}</td>
      </tr>
      <tr>
        <th scope="row">Code d'identification</th>
        <td >{{ agent.code }}</td>
      </tr>
      <tr class"striped">
        <th scope="row" >Pays d'origine</th>
        <td >{{ agent.country }}</td>
      </tr>
      <tr>
        <th scope="row">Spécialités</th>
        <td >    
            <ul>        
                {% for speciality in agent.speciality %}
                <li>
                    {{ speciality.name }}
                </li>
                {% endfor %}
            </ul>        
        </td>
      </tr>
    </tbody>
  </table>