{% extends 'base.html.twig' %}

{% block title %}Les planques{% endblock %}

{% block body %}

<h1>Les planques</h1>
<a href="{{ path('admin_hidingPlaces_create') }}">ajouter une planque</a>

{% for hidingPlace in hidingPlaces %}
{# {{ dump(hidingPlace) }} #}

<div>
    {# {% include "hidingPlace/_content.html.twig" %} #}
    Code : {{ hidingPlace.code }} <br>
    Adresse : {{ hidingPlace.address }} <br>
    Code Postal : {{ hidingPlace.zipcode }} <br>
    City : {{ hidingPlace.city }} <br>
    Pays : {{ hidingPlace.country.name }} <br>
    Type : {{ hidingPlace.type.name }}
    {# Missions :
    {% for mission in hidingPlace.missions %}
    {{ mission.title }} -
    {% endfor %} #}

    <a href="{{ path('admin_hidingPlaces_update' ,{id : hidingPlace.id}) }}">modifier</a>
    <a href="{{ path('admin_hidingPlaces_delete', {id : hidingPlace.id}) }}">supprimer</a>
</div>

{% endfor %}

{% endblock %}