<table class="table-details">    
    <tbody>
      <tr>
        <th scope="row">Code</th>
        <td>{{ hidingPlace.code }}</td>
      </tr>
      <tr>
        <th scope="row">Adresse</th>
        <td>{{ hidingPlace.address }}</td>
      </tr>
      <tr>
        <th scope="row">Code Postal</th>
        <td >{{ hidingPlace.zipcode }}</td>
      </tr>
      <tr>
        <th scope="row">City</th>
        <td >{{ hidingPlace.city }}</td>
      </tr>
      <tr>
        <th scope="row">Pays</th>
        <td >{{ hidingPlace.country.name }}</td>
      </tr>
      <tr>
        <th scope="row">Type</th>
        <td >{{ hidingPlace.type.name }}</td>
      </tr>
    </tbody>
  </table>


