{% extends 'base.html.twig' %}

{% block title %}Spécialités{% endblock %}

{% block body %}

<h1 class="mb-3">
    Spécialités
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('admin_speciality_create') }}"><img src="{{ asset('build/images/plus.png') }}"
            alt="Ajouter une mission" class="img-fluid"></a>
    {% endif %}
</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for speciality in specialities %}
        <tr>
            <td>{{ speciality.name }}</td>
            {% if is_granted('ROLE_ADMIN') %}
            <td><a href="{{ path('admin_speciality_update' ,{id : speciality.id}) }}">
                    <img src="{{ asset('build/images/edit.png') }}" alt="" class="img-fluid">
                </a>
            </td>
            <td>
                <a href="{{ path('admin_speciality_delete', {id : speciality.id}) }}">
                    <img src="{{ asset('build/images/delete.png') }}" alt="" class="img-fluid">
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}