{% extends 'base.html.twig' %}

{% block title %}Modification de l'administrateur{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_admins') }}">Administrateurs</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ user.firstname }} {{ user.lastName }}</li>
    </ol>
</nav>

<h1 class="mb-3">Modification de l'administrateur</h1>

{{ form_start(form) }}
{{ form_row(form.email)}}
{{ form_row(form.password)}}
{{ form_row(form.firstname)}}
{{ form_row(form.lastName)}}
{{ form_row(form.created_at)}}
<div class="my-3">
    <button type="submit" class="btn btn-sm btn-warning">MODIFIER</button>
    <a href="{{ path('admin_admins') }}" class="btn btn-sm btn-danger">ANNULER</a>
</div>
{{ form_end(form) }}

{% endblock %}