{% extends 'base.html.twig' %}

{% block title %}Les missions{% endblock %}

{% block body %}

<h1>Les missions</h1>
<a href="{{ path('admin_missions_create') }}">ajouter une mission</a>

{% for mission in missions %}
{# {{ dump(mission) }} #}

<div>
    Nom de code : {{ mission.codeName }} <br>
    Titre : {{ mission.title }} <br>
    Date de début : {{ mission.beginAt |date('d-m-Y') }} <br>
    Pays : {{ mission.country.name }} <br>
    {# Description : {{ mission.description }} <br> #}
    {# date : {{ mission.birth }} #}
    {# Date de fin : {{ mission.finishAt |date('d-m-Y') }} <br>
    Type : {{ mission.type }} <br>
    Statut : {{ mission.status }} <br>
    Spécialité : {{ mission.speciality }} <br>
    Planque(s) : 
    {% for hidingPlace in mission.hidingPlace %}        
    {{ hidingPlace.code }} <br>
    {% endfor %}
    Agent(s) : 
    {% for agent in mission.agent %}        
    {{ agent.code }} <br>
    {% endfor %}
    Cible(s) : 
    {% for target in mission.target %}        
    {{ target.code }} <br>
    {% endfor %}
    Agent(s) : 
    {% for contact in mission.contact %}        
    {{ contact.code }} <br>
    {% endfor %} #}

    <a href="{{ path('admin_missions_details' ,{id : mission.id}) }}">détails</a>
    <a href="{{ path('admin_missions_update' ,{id : mission.id}) }}">modifier</a>
    <a href="{{ path('admin_missions_delete', {id : mission.id}) }}">supprimer</a>
</div>

{% endfor %}

{% endblock %}