{% extends 'base.html.twig' %}

{% block title %}Statuts{% endblock %}

{% block body %}

<h1 class="mb-3">
    Statuts
    <a href="{{ path('admin_statusMission_create') }}"><img src="{{ asset('build/images/plus.png') }}"
            alt="Ajouter une mission" class="img-fluid"></a>
</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for status in statusMission %}
        <tr>
            <td>{{ status.name }}</td>
            <td><a href="{{ path('admin_statusMission_update' ,{id : status.id}) }}">
                    <img src="{{ asset('build/images/edit.png') }}" alt="" class="img-fluid">
                </a>
            </td>
            <td>
                <a href="{{ path('admin_statusMission_delete', {id : status.id}) }}">
                    <img src="{{ asset('build/images/delete.png') }}" alt="" class="img-fluid">
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}