<button type="button" class="mainArrow">
    <img src="{{ asset('build/images/arrow-right.png') }}" alt="" class="img-fluid arrow">
</button>

<ul>
    <li><a class="main-link" href="{{ path('admin_admins') }}">Les administrateurs</a></li>
    <li><a class="main-link" href="{{ path('admin_speciality') }}">Les spécialités</a></li>
    <li><a class="main-link" href="{{ path('admin_statusMission') }}">Les statuts</a></li>
    <li><a class="main-link" href="{{ path('admin_typeMission') }}">Les types de mission</a></li>
    <li><a class="main-link" href="{{ path('admin_country') }}">Les pays</a></li>
    <li><a class="main-link" href="{{ path('admin_typeHidingPlace') }}">Les types de planques</a></li>
    <li><a class="main-link" href="{{ path('admin_agents') }}">Les agents</a></li>
    <li><a class="main-link" href="{{ path('admin_targets') }}">Les cibles</a></li>
    <li><a class="main-link" href="{{ path('admin_contacts') }}">Les contacts</a></li>
    <li><a class="main-link" href="{{ path('admin_hidingPlaces') }}">Les planques</a></li>
    <li><a class="main-link" href="{{ path('admin_missions') }}">Les missions</a></li>
</ul>