{% extends 'base.html.twig' %}

{% block title %}Les contacts{% endblock %}

{% block body %}

<h1 class="mb-3">Les contacts
<a  href="{{ path('admin_contacts_create') }}" ><img src="{{ asset('build/images/plus.png') }}" alt="Ajouter un contact" class="img-fluid"></a>
</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Pays</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.code }} </td>
            <td>{{ contact.country }} </td>
            <td>
                <a href="{{ path('admin_contacts_details' ,{id : contact.id}) }}">
                    <img src="{{ asset('build/images/details.png') }}" alt="" class="img-fluid">
                </a>
            </td>
            <td>
                <a href="{{ path('admin_contacts_update' ,{id : contact.id}) }}">
                    <img src="{{ asset('build/images/edit.png') }}" alt="" class="img-fluid">
                </a>
            </td>
            <td>
                <a href="{{ path('admin_contacts_delete', {id : contact.id}) }}">
                    <img src="{{ asset('build/images/delete.png') }}" alt="" class="img-fluid">
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}