{% extends 'base.html.twig' %}

{% block title %}Créer une cible{% endblock %}

{% block body %}

<h1>Créer une cible</h1>

{{ form_start(form) }}
{{ form_row(form.firstname) }}
{{ form_row(form.lastname) }}
{{ form_row(form.dateOfBirth) }}
{{ form_row(form.code) }}
{{ form_row(form.country) }}
<div class="my-3">
    <button type="submit" class="btn btn-sm btn-warning">AJOUTER</button>
</div>
{{ form_end(form) }}
{% endblock %}