{% extends 'base.html.twig' %}

{% block title %}Modifier la cible{% endblock %}

{% block body %}

<h1>Modifier la cible</h1>

{{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.dateOfBirth) }}
        {{ form_row(form.code) }}
        {{ form_row(form.country) }}
        {# {{ form_row(form.speciality) }} #}
<div class="my-3">
    <button type="submit" class="btn btn-sm btn-warning">MODIFIER</button>
    <a href="{{ path('admin_targets') }}" class="btn btn-sm btn-danger">ANNULER</a>

</div>
{{ form_end(form) }}

{% endblock %}