{% extends 'base.html.twig' %}

{% block title %}Types de mission{% endblock %}

{% block body %}

<h1 class="mb-3">
    Types de mission
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('admin_typeMission_create') }}"><img src="{{ asset('build/images/plus.png') }}"
            alt="Ajouter un type mission" class="img-fluid"></a>
    {% endif %}
</h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for type in typesMission %}
        <tr>
            <td>{{ type.name }}</td>
            {% if is_granted('ROLE_ADMIN') %}
            <td><a href="{{ path('admin_typeMission_update' ,{id : type.id}) }}">
                    <img src="{{ asset('build/images/edit.png') }}" alt="" class="img-fluid">
                </a>
            </td>
            <td>
                <a href="{{ path('admin_typeMission_delete', {id : type.id}) }}">
                    <img src="{{ asset('build/images/delete.png') }}" alt="" class="img-fluid">
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}